/* HTML5 Boilerplate
 * ==|== normalize.css ==========================================================
 */
/* line 5, ../compass/modules/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 6, ../compass/modules/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 7, ../compass/modules/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 8, ../compass/modules/_normalize.scss */
[hidden] {
  display: none;
}

/* line 10, ../compass/modules/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 11, ../compass/modules/_normalize.scss */
body {
  margin: 0;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-size: 1.3125em;
  line-height: 1.52381em;
  color: #111111;
}

/* line 18, ../compass/modules/_normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 20, ../compass/modules/_normalize.scss */
::-moz-selection {
  background: #de3434;
  color: #fff;
  text-shadow: none;
}

/* line 21, ../compass/modules/_normalize.scss */
::selection {
  background: #de3434;
  color: #fff;
  text-shadow: none;
}

/* line 23, ../compass/modules/_normalize.scss */
a {
  color: #00e;
}

/* line 24, ../compass/modules/_normalize.scss */
a:visited {
  color: #551a8b;
}

/* line 25, ../compass/modules/_normalize.scss */
a:hover {
  color: #06e;
}

/* line 26, ../compass/modules/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 27, ../compass/modules/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 29, ../compass/modules/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 30, ../compass/modules/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 31, ../compass/modules/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 32, ../compass/modules/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 33, ../compass/modules/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 34, ../compass/modules/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 35, ../compass/modules/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 36, ../compass/modules/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 37, ../compass/modules/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 38, ../compass/modules/_normalize.scss */
q {
  quotes: none;
}

/* line 39, ../compass/modules/_normalize.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 40, ../compass/modules/_normalize.scss */
small {
  font-size: 85%;
}

/* line 41, ../compass/modules/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 42, ../compass/modules/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 43, ../compass/modules/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 44, ../compass/modules/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 45, ../compass/modules/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 46, ../compass/modules/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 47, ../compass/modules/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 48, ../compass/modules/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 49, ../compass/modules/_normalize.scss */
figure {
  margin: 0;
}

/* line 51, ../compass/modules/_normalize.scss */
form {
  margin: 0;
}

/* line 52, ../compass/modules/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 53, ../compass/modules/_normalize.scss */
label {
  cursor: pointer;
}

/* line 54, ../compass/modules/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 55, ../compass/modules/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 56, ../compass/modules/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 57, ../compass/modules/_normalize.scss */
table button, table input {
  *overflow: auto;
}

/* line 58, ../compass/modules/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 59, ../compass/modules/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 60, ../compass/modules/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 61, ../compass/modules/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 62, ../compass/modules/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 63, ../compass/modules/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 65, ../compass/modules/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* line 67, ../compass/modules/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 68, ../compass/modules/_normalize.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ======================================== */
/* line 71, ../compass/modules/_normalize.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 72, ../compass/modules/_normalize.scss */
.ir br {
  display: none;
}

/* line 73, ../compass/modules/_normalize.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 74, ../compass/modules/_normalize.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 75, ../compass/modules/_normalize.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 76, ../compass/modules/_normalize.scss */
.invisible {
  visibility: hidden;
}

/* line 3, ../compass/modules/_setup.scss */
section {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* line 10, ../compass/modules/_setup.scss */
ul {
  list-style: none;
  margin: 2em 0;
  padding: 0;
}
/* line 14, ../compass/modules/_setup.scss */
ul li {
  padding: 0 15px 0 0;
  display: inline-block;
}

/* line 20, ../compass/modules/_setup.scss */
header {
  display: none;
}
/* line 22, ../compass/modules/_setup.scss */
header h1, header h2, header h3, header h4, header h5 h6, header ul, header p, header button {
  display: none;
}

/* line 8, ../compass/modules/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 11, ../compass/modules/_base.scss */
h1 {
  font-size: 1.66666em;
  line-height: 1.42857em;
}

/* line 15, ../compass/modules/_base.scss */
h2 {
  font-size: 1.33333em;
  line-height: 1.42857em;
}

/* line 1, ../compass/partials/_header.scss */
header {
  border-top: 50px solid #de3434;
  padding: 100px 0 60px 0;
}

/* line 7, ../compass/partials/_header.scss */
a {
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #de3434;
  font-weight: 700;
  text-shadow: none;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 20, ../compass/partials/_header.scss */
a::before, a:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e56060;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 35, ../compass/partials/_header.scss */
a::before {
  top: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 41, ../compass/partials/_header.scss */
a::after {
  bottom: 0;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
/* line 48, ../compass/partials/_header.scss */
a:hover, a:focus {
  color: #e56060;
}
/* line 54, ../compass/partials/_header.scss */
a:hover::before, a:focus::before, a:hover::after, a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}
/* line 60, ../compass/partials/_header.scss */
a:visited {
  color: #d62323;
}

/* line 65, ../compass/partials/_header.scss */
.round-img {
  border: 1px solid rgba(177, 193, 201, 0.8);
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  -ms-border-radius: 999px;
  -o-border-radius: 999px;
  border-radius: 999px;
  -webkit-box-shadow: 0 0 10px rgba(177, 193, 201, 0.6);
  -moz-box-shadow: 0 0 10px rgba(177, 193, 201, 0.6);
  -ms-box-shadow: 0 0 10px rgba(177, 193, 201, 0.6);
  -o-box-shadow: 0 0 10px rgba(177, 193, 201, 0.6);
  box-shadow: 0 0 10px rgba(177, 193, 201, 0.6);
  height: 300px;
  float: right;
  overflow: hidden;
  width: 300px;
  position: relative;
  margin: 0 0 0 40px;
  background: #de3434;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 1;
}
/* line 88, ../compass/partials/_header.scss */
.round-img img {
  max-width: 100%;
  height: auto;
}
/* line 95, ../compass/partials/_header.scss */
.round-img:hover {
  opacity: 0.95;
}

@media only screen and (max-width: 650px) {
  /* line 103, ../compass/partials/_header.scss */
  .round-img {
    float: none;
    clear: both;
    margin: 0 auto;
  }
}
/* line 11, ../compass/style.scss */
body {
  font-family: 'iABCRegular', Georgia, serif;
  font-weight: normal;
}
